@use './variables' as vars;

@mixin bg-texture($color, $fileName) {
  background-color: $color;
  background-image: image-set(
    url('../assets/#{$fileName}.webp') type("image/webp"),
    url('../assets/#{$fileName}.png') type("image/png")
  );
  background-repeat: repeat;
  background-position: 0 0;       // pas de décalage subpixel
  background-size: 523px 384px;   // taille fixe = dimensions exactes de ton motif
  background-attachment: scroll;

  html[data-theme="dark"] & {
    background-image: none;
    background-color: var(--bg-neutral-light);
  }
}