$primary-font-size: 16px;
$secondary-font-size: 14px; 
$tertiary-font-size: 12px;


$background-primary-color: #CAC3B3;
$background-secondary-color: #F4E9D4;
$font-primary-color: #759D77;
$font-secondary-color: #CAC3B3;
$font-tertiary-color: #FFFFFF;

