$primary-font-size: 1.125rem;
$secondary-font-size: 1rem; 
$tertiary-font-size: 0.875rem;


$background-primary-color: #CAC3B3;
$background-secondary-color: #F4E9D4;
$font-primary-color: #759D77;
$font-secondary-color: #CAC3B3;
$font-tertiary-color: #FFFFFF;
$font-quaternary-color: #000000;

