@use 'reset';
@use 'variables' as vars;
@use 'mixins' as mixins;

// 2) font-face global
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SF-Pro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

// 3) styles globaux
html {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
