@use 'reset';
@use 'variables' as vars;

// font-face global
@font-face {
  font-family: 'SF Pro Display';
  src: url('../assets/fonts/SF-Pro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro';
  src: url('../assets/fonts/SFPRODISPLAYBOLD.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// global styles
html {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, sans-serif;
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

:root {
  --menu-height: 3.75rem; 
}

#about{
  scroll-margin-top: 8rem;
}
#skills{
  scroll-margin-top: 3rem;
}
#timeline{
  scroll-margin-top: 10rem;
}
#contact {
  scroll-margin-top: 0rem;
}

#hero {
  scroll-margin-top: 0;
}