@use '../../styles/variables' as *;
@use '../../styles/variables' as vars;

/* caché au départ */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: $background-secondary-color;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  align-items: center;
  z-index: 100;
}

/* visible après scroll */
.visible {
  opacity: 0.7; /* ton état normal */
  transform: translateY(0);
}

.nav:hover {
  opacity: 1;
}

.navList {
  display: flex;
  align-items: center;
  width: 100%;
  list-style: none;
  gap: 2rem;
  margin: 0;
  padding: 0 2rem;
}

.navItem:first-child {
  margin-right: auto;
}

.navItem {
  display: flex;
  align-items: center;
}

.navLinkLogo,
.navLink {
  font-size: $primary-font-size;
  font-weight: 500;
  color: $font-primary-color;
  text-decoration: none;
  transition: color 0.2s;
}

.navLinkLogo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navLink:hover,
.navLinkLogo:hover {
  color: $font-secondary-color;
}

.logoImage {
  width: 48px;
  height: auto;
}
