@use '../../styles/main' as *;
@use '../../styles/variables' as vars;

.footer {
  text-align: center;
  padding: 2rem;
  background: vars.$background-secondary-color;
  color: vars.$font-primary-color;
  font-size: 0.9rem;

  p {
    margin: 0;
    line-height: 1.5;
  }
}

:global(html[data-theme="dark"]) {
  .footer  {
    background: var(--bg-secondary);
  }
}
  